{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img height=5% width=10% src="{% static 'images/4.jpg' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <!-- is current user is of staff the he/she will able to see these links !-->

      {% if request.user.is_staff %}
        <li class="nav-item active">

          <a class="nav-link" href="{% url 'accounts:home' %}">Dashboard</a>
          }
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:products' %}">Products</a>
        </li>
      {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:accountsSettings' %}"> Settings </a>
        </li>
      {% endif %}



 
    </ul>
  </div>

  <span style="color:white">Hello, {{request.user}}</span>

  <span><a href="{% url 'accounts:logoutpage' %}">Logout</a></span>
</nav>